body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    width: 960px;
    height: 960px;
    margin: 20px auto;
    border: 1px solid #000000;
}

.grid-item {
    background-color: #fff;
}

#newGridBtn {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}

